
# Created by https://www.gitignore.io/api/sublimetext

# OS X

**/.DS_Store

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


# python

__pycache__

# project

venv/
# we link to this directory instead
src/

# pybuilder

target/
